dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
  p {
    margin-bottom: 10px;
  }
  .memo_title {
    font-weight: bold;
    font-size: 20px;
  }
  textarea {
    width: 300px;
    height: 100px;
    padding: 10px;
    resize: none;
    margin-top: 10px;
    border: solid 1px #eee;
    font-size: 15px;
  }
  .btn_wrap {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    > button {
      padding: 10px 5px;
      width: 150px;
      border-radius: 16px;
      &.dialog_add {
        background: #4cc155;
        color: #fff;
        margin-right: 10px;
      }
      &.dialog_close {
        border: solid 1px #eee;
      }
    }
  }
}
