.todo_head {
  padding: 30px 0;
  form {
    display: flex;
    align-items: center;
    width: 100%;
  }
  input {
    width: 90%;
    padding: 15px;
    border-radius: 30px;
    border: 1px solid #bbb;
    font-size: 15px;
  }
  .todo_btn {
    cursor: pointer;
    border: none;
    background: none;
    padding-left: 10px;
    > svg {
      font-size: 30px;
    }
  }
}
