.todo_list {
  li {
    button {
      background: none;
      border: none;
      cursor: pointer;
    }
    list-style: none;
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
    input[type="checkbox"] {
      display: none;
    }
    label {
      display: flex;
      cursor: pointer;
      margin-left: 10px;
    }
    svg {
      font-size: 20px;
    }
    .memo_text{
      color: red;
    }
    .btn_wrap {
      display: flex;
      align-items: center;
      margin-left: auto;
      .btn_edit {
        margin-right: 10px;
      }
    }
    &.active {
      color: #bbb;
      text-decoration: line-through;
    }
  }
}
